/* Página de contacto*/
.only-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.map{
    margin-bottom: 50px;
}

.map iframe {
    width:950px;
    height:450px;
}

h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.falaConosco{
    margin: 25px 5px 100px 50px;
    height: 400px;
    width: 300px;
}

aside ion-icon{
    margin:20px;
}

