
.rodape {
    margin-top: 10px;
    margin-bottom: 0;
    justify-content: space-around;
}

.only-section{
    border: solid 1px #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.only-section p{
    text-align: center;
}

form{
    text-align: center;
    margin: 20px auto;
    font-size: 15px;
}

input{
    background-color: var(--global-primary-color);
    color:var(--color-text-list);
    width: 100%;
    margin-bottom: 15px;
    height: 35px;
}

input, button{
    padding-left: 15px;
    border:none;
    border-radius: 25px;
}

button{
    width: 100%;
    height: 35px;
    background-color: var(--color-text-list);
    cursor: pointer;
    color:var(--global-primary-color);
    font-size: 17px;
}

.only-section{
    padding:20px;
    /*tamanho total da cx*/
    width: 100%;
    /*comprimento da cx com o form*/
    max-width: 550px;
    /*Centraliza a cx com o form*/
    margin: 40px auto;
}
