body{
    background-color: var(--global-primary-color);
    color:var(--color-text-list);
    margin-left: 50px;
    margin-right: 50px;
}

.main img{
    width: 480px;
    height:150px;
}

.principal p{
    font-size: 15px;
}

.full-card{
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
    margin:120px auto 120px;
    font-size: 40px;
}

h3{
    margin:120px auto 12px;
    font-size: 30px;
    text-align: center;
}

h5{
    margin: 0 auto 15px auto;
    font-size: 20px;
}


.container{
    font-size: 22px;
    text-align: center;
    margin:0 10px;
}

.card{
    margin: 40px 100px;
    display: flex;
    margin-bottom: 150px;
    justify-content: space-around;
}

.card img{
    width: 450px;
    height: 400px;
}

.card .paragraph .first, .second, .third{
    margin:10px auto;
    text-align: justify;
    font-size: 22px;
}

.paragraph {
    padding: 60px;
} 

.projects .btn{
    margin: 30px auto;
    margin-bottom: 120px;
}

.container2 .image{
    width: 595px;
    height: 400px;
}

.container2 .card2{
    display: flex;
    justify-content: space-between;
}

.container2 .card2 .honors p{
    font-size:15px;
}

figcaption{
    width: 600px;
    margin-bottom: 110px;
}

.sponsorship .marcs{
    text-align: center;
}

.sponsorship .marcs img{
    margin-top:60px ;
    margin-bottom: 60px;
    padding: 60px;
}

.rodape span{
    padding: 0 10px;
}

/* Adicionadas á novas páginas  */

/* Página what we do*/
.only-section .content .image{
    background-image: url("https://cdn.pensador.com/img/frase/al/be/albert_pine_o_que_fazemos_para_nos_mesmos_morre_conosco_l8z4mw9.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center; 
}

.only-section .content .image2{
    background-image: url("");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center; 
}

/* Página contato*/
.map{
    margin-bottom: 50px;
}


